.project__owner{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project__ownerName{
    text-align: center;
}
.project__ownerProject>div{
    display: flex;
    /* overflow: scroll; */
}
.project__ownerProject svg{
    height: 20px !important;
    width: 20px !important;
    margin-right:5px;
    align-items: center;
}
.project__infoBlock{
    margin-bottom: 10px;
}
.project__info svg{
    height: 20px !important;
    width: 20px !important;
}
.project__infoLink{
    display: flex;
    align-items: center;
}
.project__infoHeader{
    display:flex;
    align-items: center;
    margin-bottom: 2px;
}
.project__infoHeader svg{
    margin-right: 5px;
}
.projectItemCard__header{
    margin-bottom: 0px;
}
.projectItemCard__hashtags{
    display:flex;
    flex-wrap: wrap;
}
.projectItemCard__hashtag{
    /* background-color: rgb(57, 101, 204); */
    color:white;
    margin:3px;
    padding:3px 10px;
    border-radius: 25px;
    font-size: 13px;
}
.project__infoLink{
    color: #aaa;
}
.project__languageDetail{
    margin-top: 5px;
    align-items: center;
    display:flex;
}
.project__languageDetail svg{
    height: 10px !important;
    width: 10px !important;
    margin-right: 5px;
}
.project__languagePct{
    font-size: 10px;
}
.progress{
    margin-top: 5px;
    height: 8px;
}