.landingpage__background{
    background-image: url('nasa.jpg');
    width: 100vw;
    height: 85vh;
    top: 54px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
    position: absolute;

}
.landingpage__circle1{
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, 0.4);
    bottom: 15vh;
    left: 5vw;
    /* z-index:-1; */
}
.landingpage__text1{
    text-align: center;
    font-size: 5vw;
    padding-top: 6vw;
    /* z-index:-1; */
}

.landingpage__circle2{
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, 0.3);
    top: 15vh;
    left: 30vw;
    /* z-index:-1; */
}
.landingpage__text2{
    text-align: center;
    font-size: 3vw;
    padding-top: 8vw;
    /* z-index:-1; */
}
.landingpage__circle3{
    position: absolute;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
    right: 0;
    bottom: 9vh;
    /* z-index:-1; */
}
.landingpage__circle3::before{
    content: '';
    transform: translate(20%, 0%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, 0.3);
    /* z-index:-1; */
}
.landingpage__text3{
    text-align: center;
    font-size: 3vw;
    transform: translate(20%, 20%);
    padding-top: 11vw;
    /* z-index:-1; */
}
.landingpage__title{
    font-weight: 500;
    font-size: 4em;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
}
.landingpage__subtitle {
    font-weight: 500;
    font-size:1.2em;
    margin-bottom: 2rem;
    color: white;
}
.landingpage__learnMore{
    margin-top: 2rem;
    background-color: red;
}
.main__section{
    display: flex;
}
.main__sectionBlank{
    flex:0.6;
}
.main__sectionTitle{
    flex: 0.4;
}